@charset "UTF-8";

.e_info {
    position: relative;
    padding: 10px;
    text-align: center;
    width: 980px;
    height: 44px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(242, 240, 240);
    margin: auto;
    top: 30px;
    margin-bottom: 40px;
}

.sp_event {
	color: rgb(31, 126, 249);
}

.e_img {
	padding-top: 10px;
    text-align: center;
}

.e_img img {
	vertical-align: middle;
}

.btn_wrap {
	height: 55px;
}

.btn_back {
	font-weight: 500;
    font-size: 12pt;
    color: #fff;
    line-height: 32px;
    background-color: #4b4f56;
	padding: 7px 25px;
    display: inline-block;
	text-align: center;
	border-radius: 4px;
	border: none;
	margin: 3px;
	margin-top: 30px;
}

.btn_back:hover {
	cursor: pointer;
	font-weight: bold;
}



